.modalConfirmation {
    margin: 5% auto;
    width: 80vw;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #232323;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 20vh;
    text-align: center;
    height: 55vh;
    display: none;
    transform: translate(2%,-165%);
    box-shadow: black 1px 1px 1px 1px;
    z-index: 2;
}

.messageValidation {
    align-items: center;
}
.btnConfirmation {
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
    margin-top: 15vh;
}

